body {
    margin: 0;
}

.img{
  animation: animate 2s infinite ease alternate;
}
/* 
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} */

@keyframes animate {
  to{
    transform: translateY(20px);
  }
}